[submodule "api/vendors/centraldedados/codigos_postais"]
	path = api/vendors/centraldedados/codigos_postais
	url = https://github.com/centraldedados/codigos_postais.git
[submodule "api/vendors/tpp-data"]
	path = api/vendors/tpp-data
	url = https://github.com/Rui-Santos/tpp-data
